@import "../../styles/style";

.landing-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  background-color: #eee;
  padding: 5rem;
  min-width: 50%;
  transition-duration: 0.5s;
}
