.zip-input-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 10rem;
  padding: 5rem;
}

.primary-button {
  margin-top: 1rem;
  width: 10rem;
  display: flex;
  align-self: flex-end;
}
